<template>
  <div class="Score">
    <h3 class="Score__heading">Your Score</h3>
    <span class="Score__total">{{ score }}</span>
    <span class="Score__round">Round: {{ round }}</span>
  </div>
</template>

<script>
export default {
  name: 'GameScore',
  props: ['score', 'round']
}
</script>

<style scoped>
  .Score {
    position: fixed;
    top:  50%;
    transform:  translateY(-50%);
    border:  1px solid #000;
    text-align: left;
    padding:  8px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.14);
    border: 1px solid #dbdbdb;
    background: #fff;
  }

  .Score__heading {
    margin:  0;
  }

  .Score__heading:after {
    content: ":"
  }

  .Score__total {
    display: block;
    font-size: 2em
  }
</style>
