<template>
  <button class="game__btn" v-bind:class="{'game__btn--active': flashing, 'game__btn--shake': shaking}" v-bind:style="{'background-color': color}" @click="click()">
  </button>
</template>

<script>
export default {
  name: 'GameButton',
  props: ['index', 'color', 'sound', 'enabled', 'mute', 'buttonWasPressed'],
  data () {
    return {
      flashing: false,
      shaking: false
    }
  },
  mounted () {
    this.audio = new Audio(this.sound)
  },
  methods: {
    flash () {
      this.flashing = true
      setTimeout(() => {
        this.flashing = false
      }, 250)
    },
    beep () {
      if (!this.mute) {
        this.audio.currentTime = 0
        this.audio.play()
      }
    },
    click () {
      if (this.enabled) {
        this.beep()
        this.flash()
        this.buttonWasPressed(this, this.index)
      }
    },
    shake () {
      this.shaking = true
      setTimeout(() => {
        this.shaking = false
      }, 250)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
  .game__btn {
    margin:  10px;
    width: 200px;
    height: 200px;
    border:  none;
    opacity: 0.5;
    transition: 60ms ease opacity;
  }
  .game__btn:focus,
  .game__btn:active {
    outline: none !important;
    box-shadow: none;
  }
  .game__btn--active { opacity: 1 }
  .game__btn--shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
</style>
