<template>
  <div>
    <div class="Game__pad">
      <game-button ref="buttons"
                   v-for="(button, index) in buttons"
                   :key="index"
                   :index="index"
                   :sound="button.sound"
                   :color="button.color"
                   :enabled="enabled"
                   :mute="mute"
                   v-bind:buttonWasPressed="buttonWasPressed">
      </game-button>
    </div>
  </div>
</template>

<script>
import GameButton from '@/components/GameButton.vue'

export default {
  name: 'GamePad',
  components: {
    'game-button': GameButton
  },
  props: [
    'pattern',
    'wrongButtonWasPressed',
    'rightButtonWasPressed',
    'patternWasFinished',
    'userDidMissResponseWindow'
  ],
  data () {
    return {
      enabled: false,
      mute: (process.env.MUTE),
      step: 0,
      inactive: false,
      buttons: [
        {color: '#c61f05', sound: require('../assets/audio/beep-08b.mp3'), flash: false},
        {color: '#0e69e4', sound: require('../assets/audio/beep-06.mp3'), flash: false},
        {color: '#1ecf04', sound: require('../assets/audio/beep-07.mp3'), flash: false},
        {color: '#fd9a28', sound: require('../assets/audio/beep-10.mp3'), flash: false}
      ]
    }
  },
  watch: {
    pattern (val) {
      this.demonstrate()
    }
  },
  methods: {
    getCurrentSequenceIndex () {
      return this.pattern[this.step] - 1
    },
    shouldPatternFinish () {
      if (this.step >= this.pattern.length) {
        this.step = 0
        this.patternWasFinished()
        return true
      }
    },
    demonstrate () {
      this.enabled = false
      let speed = 500
      let loop = () => {
        for (var i = this.$refs.buttons.length - 1; i >= 0; i--) {
          if (i === this.getCurrentSequenceIndex()) {
            this.$refs.buttons[i].flash()
            this.$refs.buttons[i].beep()
          }
        }
        if ([5, 9, 13].indexOf(this.step) !== -1) {
          speed = speed * 0.9
        }
        this.step++
        if (this.step > this.pattern.length) {
          this.enabled = true
          this.step = 0
          this.inactive = setTimeout(this.userMissedResponseWindow.bind(this), 7500)
          return
        }
        setTimeout(loop.bind(this), speed)
      }
      loop()
    },
    flashAll () {
      for (var i = this.$refs.buttons.length - 1; i >= 0; i--) {
        this.$refs.buttons[i].flash()
      }
    },
    buttonWasPressed (button, index) {
      if (this.inactive) {
        clearTimeout(this.inactive)
      }
      if (index !== this.getCurrentSequenceIndex()) {
        this.enabled = false
        button.shake()
        this.flashAll()
        setInterval(() => this.flashAll(), 500)
        if (this.wrongButtonWasPressed) {
          this.wrongButtonWasPressed(button, index)
        }
        return
      }
      this.step++
      this.shouldPatternFinish()
      if (this.rightButtonWasPressed) {
        this.rightButtonWasPressed(button, index)
      }
    },
    userMissedResponseWindow () {
      this.enabled = false
      let index = this.getCurrentSequenceIndex()
      let button = this.$refs.buttons[index]
      button.shake()
      button.flash()
      if (this.userDidMissResponseWindow) {
        this.userDidMissResponseWindow(button, index)
      }
    }
  },
  beforeDestroy () {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .Game__pad {
    margin: 0 auto;
    display: flex;
    width: 440px;
    flex-wrap: wrap;
  }
</style>
