<script>
import Message from '@/motd.md'
export default {
  name: 'Motd',
  data () {
    return {
      content: []
    }
  },
  render: waited => waited(Message)
}
</script>

<style scoped>
  .leader-table {
    text-align: left;
  }

  .leader-table__list {
    list-style-type: none;
    margin: 0; padding:  0;
    max-height: 80vh;
    overflow-y: scroll
  }
</style>
