<template>
  <div>
    <simplert :useRadius="true"
              :useIcon="true"
              ref="simplert">
    </simplert>
  </div>
</template>

<script>
import Simplert from 'vue2-simplert'
import { NotificationBus } from '@/services/NotificationBus.js'

export default {
  name: 'Nootifications',
  components: {
    'simplert': Simplert
  },
  data () {
    return {
      message: ''
    }
  },
  mounted () {
    NotificationBus.$on('error', error => this.handleError(error))
  },
  methods: {
    handleError (error) {
      this.$refs.simplert.openSimplert({
        title: 'Something went wrong',
        message: error,
        type: error
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .leader-table {
    text-align: left;
  }

  .leader-table__list {
    list-style-type: none;
    margin: 0; padding:  0;
    max-height: 80vh;
    overflow-y: scroll
  }
</style>
