<template>
  <div class="leader-table">
    <h3>Top 10 Scores</h3>
    <ul class="leader-table__list">
      <li class="leader-table__list-entry" v-for="score in scores" v-bind:key="score.id">
        {{ score.user.first_name[0] }}. {{ score.user.last_name }}: {{ score.score }}
      </li>
    </ul>
  </div>
</template>

<script>
import Api from '../services/api.js'
import { NotificationBus } from '@/services/NotificationBus.js'
import { filter, orderBy } from 'lodash'

export default {
  name: 'Scores',
  data () {
    return {
      scores: []
    }
  },
  beforeMount () {
    Api.game.scores({limit: 10})
      .then((response) => {
        this.scores = orderBy(filter(response.scores, (o) => {
          return true
        }), 'score', 'desc')
      })
      .catch((error) => {
        NotificationBus.$emit('error', 'Couldn\'t load top scores (' + error.message + ')')
      })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .leader-table {
    text-align: left;
  }

  .leader-table__list {
    list-style-type: none;
    margin: 0; padding:  0;
    max-height: 80vh;
    overflow-y: scroll
  }
</style>
