<template>
  <div class="hello">
    <div v-if="fact">
      <h1>Did You Know?</h1>
      <div>{{ fact.text }}</div>
      <br>
      <countdown :time="10 * 1000" :countdownDidEnd="start">
        <template slot-scope="timer">
          <button @click="start" type="button" class="btn">Lets get Started! ({{ timer.seconds }})</button>
        </template>
      </countdown>
    </div>
  </div>
</template>

<script>
import Api from '@/services/api.js'
import Log from '@/services/log.js'
import { NotificationBus } from '@/services/NotificationBus.js'
import Countdown from '@/components/Countdown.vue'

export default {
  name: 'Register',
  components: {
    'countdown': Countdown
  },
  beforeMount () {
    Api.fact.fetch()
      .then((fact) => {
        this.fact = fact
        Log.record('Viewed fact ' + fact.uuid)
      }).catch((error) => {
        NotificationBus.$emit('error', 'Could not load fact (' + error.message + ')')
      })
  },
  data () {
    return {
      fact: ''
    }
  },
  methods: {
    start () {
      this.$router.push('game')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
