<template>
  <div class="hello">
    <h1>Simon Says...</h1>
    <div v-if="this.cheat">
      <p>{{ this.pattern }}</p>
      <p>{{ this.slicedPattern }}</p>
    </div>
    <game-pad ref="game"
              :pattern="slicedPattern"
              :wrongButtonWasPressed="wrongButtonWasPressed"
              :rightButtonWasPressed="scored"
              :patternWasFinished="patternWasFinished"
              :userDidMissResponseWindow="gameOver" />
    <game-score :score="game.score" :round="game.round"></game-score>
  </div>
</template>

<script>
import Api from '@/services/api.js'
import Log from '@/services/log.js'
import { NotificationBus } from '@/services/NotificationBus.js'
import Store from '@/services/store.js'
import Countdown from '@/components/Countdown.vue'
import GamePad from '@/components/GamePad.vue'
import GameScore from '@/components/GameScore.vue'

export default {
  name: 'Game',
  components: {
    'countdown': Countdown,
    'game-pad': GamePad,
    'game-score': GameScore
  },
  data () {
    return {
      cheat: (process.env.NODE_ENV === 'development'),
      isReady: false,
      game: {
        uuid: '',
        score: 0,
        round: 1
      },
      progress: 0,
      pattern: []
    }
  },
  computed: {
    slicedPattern: function () {
      return this.pattern.slice(0, this.progress + 1)
    }
  },
  beforeMount () {
    if (!Store.has('user')) {
      this.$router.push('register')
    }
  },
  mounted () {
    if (!Store.has('game.uuid')) {
      Api.game.start(Store.get('user.uuid'))
        .then((response) => {
          this.game.uuid = response.uuid
        })
        .catch((error) => {
          NotificationBus.$emit('error', 'Couldn\'t start game (' + error.message + ')')
          this.$router.push('/')
        })
    } else {
      this.game = Store.get('game', this.game)
      this.game.round = Store.get('game.round', 1)
    }
    setTimeout(this.start, 1000)
  },
  methods: {
    start () {
      let patternLength = (6 * this.game.round) + 2 // 6n+6
      this.pattern = Array.from({
        length: patternLength
      }, () => 1 + Math.floor(Math.random() * 4))
    },
    patternWasFinished () {
      setTimeout(() => {
        if (this.progress >= (this.pattern.length - 1)) {
          this.game.round++
          Store.save('game', this.game).then(() => {
            return this.$router.push('fact')
          })
        }
        this.progress++
      }, 500)
    },
    wrongButtonWasPressed () {
      setTimeout(() => {
        if (this.game.round >= 4) {
          this.gameOver()
        }
        Store.save('game', this.game).then(() => {
          this.$router.push('fact')
        }, 500)
      })
    },
    scored () {
      let pointMatrix = [1, 3, 5, 10]
      let point = this.game.round > 4 ? 10 : pointMatrix[this.game.round - 1]
      this.game.score = this.game.score + point
    },
    gameOver () {
      Store.save('game', this.game).then(() => {
        Api.game.finish(this.game)
        Log.record('Game Over: S/' + this.game.score + ' R/' + this.gameround)
        return this.$router.push('game-over')
      })
    }
  }
}
</script>

<style scoped>
  .Game__pad {
    margin: 0 auto;
    display: flex;
    width: 440px;
    flex-wrap: wrap;
  }
</style>
