<template>
  <div class="hello">
    <h1>Game Over</h1>
    <h2 class="box score">Your Score: {{ score }}</h2>
    <div class="row">
      <div class="half">
        <div class="box">
          <div class="box__inner">
            <score-table />
          </div>
        </div>
      </div>
      <div class="half">
        <div class="box">
          <div class="box__inner">
            <motd />
          </div>
        </div>
      </div>
    </div>
    <div class="toolbar">
      <button @click="replay" type="button" class="btn">Play Again?</button>
    </div>
  </div>
</template>

<script>
import Log from '@/services/log.js'
import Store from '@/services/store.js'
import Countdown from '@/components/Countdown.vue'
import Motd from '@/components/Motd.vue'
import Scores from '@/components/Scores.vue'

export default {
  name: 'GameOver',
  components: {
    'countdown': Countdown,
    'motd': Motd,
    'score-table': Scores
  },
  mounted () {
    this.restartTimeout = setTimeout(this.restart.bind(this), 10000)
  },
  data () {
    return {
      score: Store.get('game.score'),
      countdown: 0
    }
  },
  methods: {
    replay () {
      Store.clear('game')
      Log.record('Replayed')
      this.$router.push('fact')
    },
    restart () {
      Log.record('Session Ended')
      Store.clear('game')
      Store.clear('user')
      this.$router.push('/')
    }
  },
  beforeDestroy () {
    clearTimeout(this.restartTimeout)
  }
}
</script>

<style scoped>
  .toolbar {
    margin-top: 30px;
  }
  .score {
    padding:  10px;
    margin-bottom: 30px;
  }
  .btn {
    width: 100%;
    padding: 15px;
  }
</style>
