<template>
  <div class="box">
    <h1>Welcome</h1>
    <form class="form" @submit.prevent="process" novalidate>
      <div class="form__group">
        <label class="form__label">First Name</label>
        <input class="form__control" type="text" v-model="form.firstName" name="firstName" required>
      </div>
      <div class="form__group">
        <label class="form__label">Last Name</label>
        <input class="form__control" type="text" v-model="form.lastName" name="lastName" required>
      </div>
      <div class="form__group">
        <label class="form__label">Email Address</label>
        <input class="form__control" type="email" v-model="form.email" name="email" required>
      </div>
      <button class="btn" type="submit">Submit and Start!</button>
    </form>
  </div>
</template>

<script>
import Api from '../services/api.js'
import Log from '@/services/log.js'
import { NotificationBus } from '@/services/NotificationBus.js'
import Store from '@/services/store.js'
import faker from 'faker'

export default {
  name: 'Register',
  data () {
    let form = {}
    if (process.env.NODE_ENV === 'development') {
      form.firstName = faker.name.firstName()
      form.lastName = faker.name.lastName()
      form.email = faker.internet.email()
    }
    return {
      form: form
    }
  },
  methods: {
    process (e) {
      let form = e.target
      form.classList.add('form--validated')
      if (!form.checkValidity()) {
        return
      }
      Api.users.create(this.form)
        .then((user) => {
          Store.save('user', user)
          Log.record('Signed Up')
          this.$router.push('fact')
        })
        .catch((error) => {
          NotificationBus.$emit('error', 'There was a problem registering you (' + error.message + ')')
        })
    }
  }
}
</script>

<style scoped>
  h1 {
    font-weight: 200;
    text-align: left;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #f0f0f0;
  }
  .box {
    margin: 0 auto;
    padding: 15px 30px 30px;
    max-width: 330px;
  }

  .btn {
    width: 100%;
  }
</style>
