<template>
  <div class="hello">
    <h1>Welcome</h1>
    <router-link to="/register" class="btn">Lets get Started!</router-link>
  </div>
</template>

<script>
export default {
  name: 'Welcome'
}
</script>

<style scoped>
  h1 {
    font-size: 50px;
    margin-bottom: 30px;
  }
</style>
