html, body {
  margin: 0; padding: 0;
}
body {
  line-height: 1.5;
  font-size: 16px;
  background-color: #f2f2f2
}
.app {
  display: flex;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  max-width: 1024px;
  height: 100vh;
  max-height: 100vh;
  margin:  auto;
}
.app-center {
  margin: auto;
  width: 100%;
}
h1, h2, h3 {
  margin-top: 0;
  font-weight: 200;
}
.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .25s;
}

.fade-enter-active {
  transition-delay: .25s;
}

.fade-enter, .fade-leave-active {
  opacity: 0
}

.row {
  display: flex;
  margin:  0 -1rem;
}

.half {
  width: 50%;
  padding: 0 1rem;
}

.box {
  height: 100%;
  background-color: #ffffff;
  box-shadow: 2px 2px 1px rgba(229, 229, 229, 1);
}
.box__inner {
  padding: 1rem;
}
.form {
  margin: 0 auto;
  width: 100%;
  text-align: left;
}
.form__group {
  margin-bottom: 1rem;
}
.form__label {
  display: inline-block;
  margin-bottom: .5rem
}
.form__control {
  width: 100%;
  padding: 12px 10px;
  border: 1px solid #eee;
  background-color: #fcfcfc;
}
.btn {
  border:  none;
  padding: .575rem .75rem;
  border-radius: .25rem;
  color: #fff;
  background-color: #275263;
}
.btn:hover {
  color: #fff;
  text-decoration: none;
  background-color: #317d9a;
}
.form--validated .form__control:invalid {
  border-color: red;
}
.form--validated .form__control:valid {
  border-color: green;
}