<template>
  <div class="app" id="app">
    <div class="app-center">
      <transition name="fade">
        <router-view/>
      </transition>
    </div>
    <nootifications />
  </div>
</template>

<script>
import Nootifications from '@/components/Nootifications.vue'
import './assets/css/reboot.css'
import './assets/css/app.css'
export default {
  name: 'App',
  components: {
    'nootifications': Nootifications
  }
}
</script>
